#date-time-place-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#date, #time, #saint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#date, #time, #saint {
  white-space: nowrap;
  overflow: hidden;
}


#date {
    font-size: 20px;
}

#time {
    font-size: 80px;
}

#saint {
    font-size: 20px;
}