#weather-widget {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

#temperature, #icon, #pressure, #wind-speed {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}

#icon img {
  width: 50px;
  height: 50px;
  stroke: transparent;
  stroke-width: 0px;
}